<footer class="page-footer black darken-5">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h5>WeChat</h5>
                <p>Another of way of reaching out to our friends, making old friends close friends</p>
            </div>
            <div class="col s12 m6 white-text">
                <h6>Links</h6>
                <a href="#">Posts</a>
                <a href="#">Chats</a>
                <a href="#">Notifications</a>
                <a href="#">go up</a>
            </div>
        </div>
    </div>
    <div class="copy-right white-text center">
        &copy; 2019 | Faden Sibam
    </div>
    <br>
</footer>
<script>
    M.AutoInit();
</script>
<script src="java.js"></script>