<div id="chats">
    <div class="row hide-on-small-only">
        <div class="col m4">
            
            <p class="">
                <input type="search" name="chatContact" placeholder="search contact">
            </p>
            <p>Recent chats</p>
            <ul class="collection">
                <li class="collection-item avatar">
                    <i></i>
                    <span>Name</span>
                    <p>the message</p>
                </li>
                <li class="collection-item avatar">
                    <i></i>
                    <span>Name</span>
                    <p>the message</p>
                </li>
                <li class="collection-item avatar">
                    <i></i>
                    <span>Name</span>
                    <p>the message</p>
                </li>
                <li class="collection-item avatar">
                    <i></i>
                    <span>Name</span>
                    <p>the message</p>
                </li>
                <li class="collection-item avatar">
                    <i></i>
                    <span>Name</span>
                    <p>the message</p>
                </li>
                <li class="collection-item avatar">
                    <i></i>
                    <span>Name</span>
                    <p>the message</p>
                </li>
                <li class="collection-item avatar">
                    <i></i>
                    <span>Name</span>
                    <p>the message</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container hide-on-med-and-up">

        <ul class="collection">

            <li class="collection-item avatar">
                <i></i>
                <span>Name</span><br>
                <span>Message</span>
            </li>
            <li class="collection-item avatar">
                <i></i>
                <span>Name</span><br>
                <span>Message</span>
            </li>
            <li class="collection-item avatar">
                <i></i>
                <span>Name</span><br>
                <span>Message</span>
            </li>
            <li class="collection-item avatar">
                <i></i>
                <span>Name</span><br>
                <span>Message</span>
            </li>
        </ul>


    </div>
</div>